{% extends "global/base.html" %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}

{% include "global/partials/messages.html" %}

        <div class="main-content main-content-list container">
            {% for receita in receitas %}
                {% include "receitas/partials/receita.html" %}   
            {% empty %}
            <div class="center m-y">
               <h1>Nenhuma receita encontrada aqui.</h1>
            </div>
            {% endfor %}
        </div>
    {% endblock conteudo %}

</html>